<div class="section" id="section1">
    <h1>Giovanni &  Marta</h1>
    <img src="/assets/images/leaves-1.svg" class="color-icon">
    <h2>21 Settembre 2024</h2>
</div>
<!-- <div class="section" id="section2">
    <app-countdown></app-countdown>
</div> -->
<div class="section" id="section2">
    <h2>Cerimonia</h2>
    <img src="/assets/images/leaves-1_white.svg" class="color-icon">
    <app-ceremony></app-ceremony>
</div>
<div class="section" id="section3">
    <h2>Ricevimento</h2>
    <img src="/assets/images/leaves-1.svg" class="color-icon">
    <app-location></app-location>
</div>
<div class="section" id="section4">
    <h2>Sera</h2>
    <img src="/assets/images/leaves-1_white.svg" class="color-icon">
    <app-evening></app-evening>
</div>
<div class="section" id="section5">
    <h2>Lista Viaggio</h2>
    <img src="assets/images/japan-architecture.svg" class="color-icon">
    <app-wedding-list></app-wedding-list>
</div>
<div class="section" id="section6">
    <h2>Q & A</h2>
    <img src="/assets/images/leaves-1_white.svg" class="color-icon">
    <app-question-and-answer></app-question-and-answer>
</div>