<div class="cnt">
    <div class="item">
        <p>
            <strong>Entro quando confermare la partecipazione?</strong><br>
            Entro il 15 agosto sarebbe gentile confermare la vostra partecipazione. Scriveteci pure tramite whatsapp o chiamateci!
        </p>
    </div>
    <div class="item">
        <p>
            <strong>In caso di allergie e/o intolleranze?</strong><br>
            Se avete allergie o intolleranze alimentari, vi preghiamo di informarci in anticipo. Ci impegnamo a garantire la vostra sicurezza e il vostro benessere durante l'evento.
        </p>
    </div>
    <div class="item">
        <p><strong>Dove è possibile parcheggiare?</strong><br>
        Cerimonia: 
            <a href="https://www.google.com/maps/place/45%C2%B033'54.0%22N+12%C2%B017'57.4%22E/@45.5649869,12.2986223,197m/data=!3m2!1e3!4b1!4m12!1m7!3m6!1s0x47794b601641c11b:0xe352b29a11194f64!2sChiesa+Arcipretale+di+San+Giorgio+Martire!8m2!3d45.5652293!4d12.299186!16s%2Fg%2F1tdh2p_4!3m3!8m2!3d45.564986!4d12.299266?entry=ttu">
                parcheggio della chiesa
            </a><br>
        Ricevimento: 
            <a href="https://www.google.com/maps/place/45%C2%B044'12.4%22N+12%C2%B031'00.0%22E/@45.7367729,12.5160239,197m/data=!3m2!1e3!4b1!4m12!1m7!3m6!1s0x47795b71769c9231:0xed047de090bf4465!2sVilla+Abbazia+di+Busco!8m2!3d45.7371963!4d12.5165815!16s%2Fg%2F11c72l0fzg!3m3!8m2!3d45.736772!4d12.516669?entry=ttu">
                parcheggio della villa
            </a>
        </p>
    </div>
</div>